<table>
<h3>您的包裹</h3>
  <% @packages.each do |package| %>
<div class="a">包裹名称&nbsp;&nbsp;<%=  package.name %></div>

    <tr>包裹总价</tr>
    <%= package.package_price %>
    
    <% package.orders.each do |order| %>
      <p>商品名称 <%= order.commodity.name %><span>数量</span> <%= order.amount %> <span>总价</span> <%= order.order_price %><span>用户名<%= User.find(order.user_id).name %></span></p>
    <% end %>
  <% end %>
</table>
 <%= link_to "继续逛","/commodities" %>
 <%= link_to "退出","/sessions/signin" %>





      